*{
    margin: 0;
}
.main{
    width: 100vw;
    height: 100vh;
}
.first, .second{
    width: 90%;
    margin: auto;
}
.first form{
    display: flex;
}
.first input{
    width: 80%;
    padding: 10px;
}
.first button{
    width: 20%;
    background-color: green;
    color: white;
    border: none;
}
.second table{
    width: 100%;
    border-collapse: collapse;
}
.second tr{
    background-color: rgb(232, 229, 225);
}
.second tr:nth-child(odd){
    background-color: rgb(165, 155, 143);
}
.second th,td{
    padding: 10px;
}
.second a{
    text-decoration: none;
}